# IP address of ParkInPeace API Server
#   (A) Scenario 1: Connected to School Wifi
#       if your phone is connected to school wifi, you can use "http://172.21.148.166"
#   (B) Scenario 2: Running the server locally on development laptop
#       if you are using android emulator use "http://10.0.2.2:8080"
#       if you are using a real android phone, find the IP address of your laptop i.e "http://192.168.86.47:8080"
#       make sure your firewalls are configured properly to accept external connections.
pip.server="http://172.21.148.166"