##########################################
# THIS FILE IS ONLY FOR PUBLIC KEYS ONLY #
##########################################
# 1. Do not check this file into source control
# 2. Do not add private keys into this file
# 3. *Discuss* with everyone before adding a new entry to this file
# 4. Entries should be enclosed in quotes if they are String
#
# Steps:
# 0. Copy this file and name it SECRETS.properties.
# 1. Add an entry, e.g. ANDROID_ABC_PUBLIC_KEY.
# 2. The key should be made available to the relevant build.gradle.kts
# 3. Gradle will automatically create a BuildConfig class with the key inside
#    for android, we use
#       `buildConfigField("String", "ANDROID_ABC_PUBLIC_KEY", secrets.getProperty("ANDROID_ABC_PUBLIC_KEY))`
#    to add the key to the BuildConfig class in build.gradle.kts.
# 4. The project needs to be rebuilt so that Gradle can generate the BuildConfig class
# 5. The key will be available as BuildConfig.ANDROID_ABC_PUBLIC_KEY in auto-completion.
#
# Intention:
#   Keys of any sort MUST NOT be checked into source control because they can be viewed publicly
#   and we will be BILLED for their usage or worse, permanently blacklisted
#
# WARNING:
#   Do note that this method is not foolproof and keys can still be extracted from the android apk
#   Hence, only public keys are allowed within this file. Real SECRETS, like private keys, will use
#   other methods.

# ANDROID_URA_ACCESS_TOKEN: Fallback API in case server is down
# ANDROID_MAPBOX_SECRET_TOKEN: Only required during app compilation to connect to Mapbox's maven repository to install necessary Mapbox SDKS
# SERVER_MAPBOX_ACCESS_TOKEN: Allows server to make API calls to Mapbox to determine estimated travel time and distance
# SERVER_URA_ACCESS_TOKEN: Used to fetch carparks from URA API
# SERVER_ONEMAP_USERNAME+SERVER_ONEMAP_PASSWORD: Used to generate access token from OneMap API to perform reverse geocoding etc.
# SERVER_LTA_ACCOUNT_KEY: Used to fetch carparks from LTA

ANDROID_URA_ACCESS_TOKEN="<INSERT-YOUR-ACCESS-TOKEN-HERE>"
ANDROID_MAPBOX_SECRET_TOKEN=sk...
SERVER_MAPBOX_ACCESS_TOKEN=pk...
SERVER_URA_ACCESS_TOKEN=<SAME-AS-ANDROID>
SERVER_ONEMAP_USERNAME=<SIGNUP EMAIL>
SERVER_ONEMAP_PASSWORD=<PASSWORD>
SERVER_LTA_ACCOUNT_KEY=<ACCOUNT-KEY>